@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap");

html {
  overflow-x: hidden;
}

body {
  background-color: rgb(9, 9, 9);
  overflow-x: hidden;
  max-width: 100%;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-family: Cinzel Decorative;
  color: rgb(199, 171, 85);
}

p {
  font-family: serif;
  color: white;
}

li {
  color: rgb(199, 171, 85);
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.Utility {
  width: 100px;
  margin-top: -12px;
  position: absolute;
  margin-left: -280px;
  transition: width 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
  cursor: pointer;
}

@media (max-width: 1490px) {
  .Utility {
    width: 80px;
    margin-top: -11px;
    margin-left: -230px;
  }
}

@media (max-width: 1375px) {
  .Utility {
    margin-top: -12px;
    margin-left: -190px;
  }
}

.Utility:hover {
  width: 110px;
  border-bottom: 2px solid rgb(199, 171, 85);
}

@media (max-width: 1490px) {
  .Utility:hover {
    width: 90px;
  }
}

.Specifics {
  width: 120px;
  margin-top: -16px;
  position: absolute;
  margin-left: -135px;
  transition: width 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
  cursor: pointer;
}

@media (max-width: 1490px) {
  .Specifics {
    width: 100px;
    margin-top: -14px;
    margin-left: -110px;
  }
}

@media (max-width: 1375px) {
  .Specifics {
    margin-left: -75px;
    margin-top: -16px;
  }
}

.Specifics:hover {
  width: 130px;
  border-bottom: 2px solid rgb(199, 171, 85);
}

@media (max-width: 1490px) {
  .Specifics:hover {
    width: 110px;
  }
}

.faqs {
  width: 60px;
  margin-top: -21px;
  margin-left: 30px;
  position: absolute;
  transition: width 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
  cursor: pointer;
}

@media (max-width: 1490px) {
  .faqs {
    width: 55px;
    margin-top: -20px;
  }
}

@media (max-width: 1375px) {
  .faqs {
    margin-top: -22px;
    margin-left: 55px;
  }
}

.faqs:hover {
  width: 70px;
  border-bottom: 2px solid rgb(199, 171, 85);
}

@media (max-width: 1490px) {
  .faqs:hover {
    width: 65px;
  }
}

.enter1000 {
  width: 150px;
  margin-top: -10px;
  margin-left: 130px;
  position: absolute;
  transition: width 0.3s ease-in-out;
  cursor: pointer;
}


@media (max-width: 1490px) {
  .enter1000 {
    width: 130px;
  }
}

@media (max-width: 1375px) {
  .enter1000 {
    width: 120px;
    margin-left: 150px;
    margin-top: -10px;
  }
}

.enter1000:hover {
  width: 170px;
}

@media (max-width: 1490px) {
  .enter1000:hover {
    width: 160px;
  }
}

.ColiseumLogo {
  margin-left: 30px;
  width: 60px;
}

@media (max-width: 1301px) {
  .ColiseumLogo {
    margin-left: 10px;
  }
}

.barrier {
  width: 10px;
  height: 50px;
  margin-right: 20px;
  margin-left: 5px;
  margin-top: -25px;
  position: absolute;
}

@media (max-width: 1301px) {
  .barrier {
    display: none;
  }
}

.twitter {
  width: 30px;
  margin-left: 25px;
  margin-top: -10px;
  position: absolute;
  transition: width 0.3s ease-in-out;
  cursor: pointer;
}

@media (max-width: 1301px) {
  .twitter {
    display: none;
  }
}

.twitter:hover {
  width: 35px;
}

.discord {
  width: 30px;
  margin-right: 20px;
  margin-left: 70px;
  margin-top: -10px;
  position: absolute;
  transition: width 0.3s ease-in-out;
  cursor: pointer;
}

@media (max-width: 1301px) {
  .discord {
    display: none;
  }
}

.discord:hover {
  width: 35px;
}

.opensea {
  width: 30px;
  margin-right: 20px;
  margin-left: 115px;
  margin-top: -10px;
  position: absolute;
  transition: width 0.3s ease-in-out;
  cursor: pointer;
}

@media (max-width: 1301px) {
  .opensea {
    display: none;
  }
}

.opensea:hover {
  width: 35px;
}

.TitleOne {
  width: 450px;
}

@media (max-width: 1401px) {
  .TitleOne {
    width: 400px;
  }
}

@media (max-width: 1250px) {
  .TitleOne {
    width: 350px;
  }
}

@media (max-width: 1100px) {
  .TitleOne {
    margin-top: 50px;
    width: 450px;
  }
}

@media (max-width: 515px) {
  .TitleOne {
    width: 400px;
  }
}

.ColLogo {
  width: 500px;
}

@media (max-width: 1401px) {
  .ColLogo {
    width: 450px;
  }  
}

@media (max-width: 1250px) {
  .ColLogo {
    width: 400px;
  }  
}

@media (max-width: 1100px) {
  .ColLogo {
    width: 500px;
  }  
}

@media (max-width: 515px) {
  .ColLogo {
    width: 400px;
  }
}

.TitleTwo {
  width: 450px;
}

@media (max-width: 1401px) {
  .TitleTwo {
    width: 400px;
  }
}

@media (max-width: 1250px) {
  .TitleTwo {
    width: 350px;
  }
}

@media (max-width: 1100px) {
  .TitleTwo {
    width: 450px;
  }
}

@media (max-width: 515px) {
  .TitleTwo {
    width: 400px;
  }
}

.twitter-bottom {
  width: 30px;
  margin-left: -50px;
  position: absolute;
  transition: width 0.3s ease-in-out;
}

.twitter-bottom:hover {
  width: 35px;
}

.discord-bottom {
  width: 30px;
  position: absolute;
  transition: width 0.3s ease-in-out;
}

.discord-bottom:hover {
  width: 35px;
}

.opensea-bottom {
  width: 30px;
  margin-left: 50px;
  position: absolute;
  transition: width 0.3s ease-in-out;
}

.opensea-bottom:hover {
  width: 35px;
}

.ColiseumLogo-bottom {
  margin-left: 30px;
  width: 60px;
}
